* {
  font-family: "Poppins", Verdana, sans-serif;
}

.container {
  width: 100%;
  height: auto;
  background: #f7f3f3;
  position: relative;
}

body {
  margin: 0;
}

header {
  display: flex;
  padding: 40px 20px;
}

.home {
  height: auto;
  width: 100%;
  margin-bottom: 7em;
  border: 1px solid #e9e9eb;
  border-radius: 20px;
  background: #fff;
}

.main {
  background: url(../images/background.png) no-repeat center;
  background-size: 100% 100%;
  height: 550px;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #6070ff;
}

.menu-close-btn li a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.menu-close-btn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.menu-close-btn li a:hover {
  box-shadow: 0 3px 0 white;
}

.menu-close {
  cursor: pointer;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo-placeholder {
  padding-top: 12px;
  animation-name: animation;
  animation-duration: 2s;
}

.nav-links {
  float: right;
  margin-left: auto;
}

.menu-bar {
  display: block;
  list-style: none;
}

.menu-bar .menu-item {
  display: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  background: #6070ff;
  height: 120%;
  width: 100%;
  border-radius: 15px;
  opacity: 1;
  backdrop-filter: blur(10px);
  mix-blend-mode: multiply;
}

.close-menu-btn {
  display: flex;
  justify-content: flex-end;
  padding: 2em 2em;
}

.hamburger-button {
  cursor: pointer;
}

.title {
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  color: #172b4d;
  width: 80%;
  margin: 0.3em;
  padding-top: 2em;
}

.about-me {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #344563;
  margin: 1em;
  width: 85%;
}

.social-title {
  font-size: 18px;
  font-style: normal;
  color: #7f8cff;
  margin: 0.6em;
  line-height: 24px;
}

.social-icons {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 5em;
  gap: 1.1em;
}

.works {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 80px;
  border-radius: 15px;
}

.works > div {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
  background: #fff;
  margin: 1.2em;
  width: 90%;
}

.card {
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.card-bg {
  background-size: 100%;
  flex-basis: 12em;
  width: 90%;
  border-radius: 6px;
}

.card1 {
  background: url(../images/snapshot1.png) no-repeat center center;
}

.card2 {
  background: url(../images/snapshot2.png) no-repeat center center;
}

.card3 {
  background: url(../images/snapshot3.png) no-repeat center center;
}

.card4 {
  background: url(../images/snapshot4.png) no-repeat center center;
}

.card-projects {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 0.4em;
}

.card-header-pic {
  padding: 0;
}

.card-title {
  display: flex;
  font-weight: 700;
  font-size: 33px;
  color: #172b4d;
  padding: 0 10px;
  line-height: 0;
  font-family: "Poppins", Verdana, sans-serif;
}

.card-title-2 {
  font-weight: 700;
  font-size: 35px;
  color: #172b4d;
  padding: 0 10px;
  font-family: "Poppins", Verdana, sans-serif;
  text-align: left;
  width: 200px;
  margin: 0;
}

.card-job-desc {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: auto;
  padding: 0 10px;
  width: 250px;
  font-size: 14px;
  font-family: "Poppins", Verdana, sans-serif;
}

.card-job-desc .card-company {
  color: #344563;
  font-size: 15px;
  font-weight: 600;
}

.card-job-desc .card-job {
  color: #7a869a;
  font-size: 15px;
}

.card-job-desc .card-year {
  color: #7a869a;
  font-size: 15px;
}

.card-persona {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  text-align: left;
  font-family: "Poppins", Verdana, sans-serif;
}

.card-languages {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 210px;
  margin-right: auto;
  padding: 0 10px;
  font-family: "Poppins", Verdana, sans-serif;
  flex-wrap: wrap;
}

.card-lang1 {
  width: 50px;
  text-align: center;
  background: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border-radius: 7px;
  height: 23px;
  font-weight: 400;
  padding-top: 5px;
}

.card-lang2 {
  width: 35px;
  text-align: center;
  background: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border-radius: 7px;
  height: 23px;
  font-weight: 400;
  padding-top: 5px;
}

.card-lang3 {
  width: 80px;
  text-align: center;
  background: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border-radius: 7px;
  height: 23px;
  font-weight: 400;
  padding-top: 5px;
}

.card-lang4 {
  display: none;
}

.card-submit-button {
  border: 1px solid #6070ff;
  padding: 0 10px;
  border-radius: 10px;
  align-items: center;
  font-size: 16px;
  color: #396df2;
  background: transparent;
  height: 50px;
  width: 120px;
  font-family: "Poppins", Verdana, sans-serif;
  font-weight: 400;
  display: flex;
  margin: 0.5em;
}

.about-myself {
  width: 100%;
  height: auto;
  border: 1px solid #fff;
  border-top-right-radius: 80px;
  background: #fff;
  padding-top: 100px;
  margin-bottom: 5em;
}

.about-container {
  padding: 0 15px;
}

.about-myself-title {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  width: 10px;
}

.about-me-resume {
  width: 90%;
  line-height: 24px;
  color: #344563;
  font-size: 17px;
  font-style: normal;
  text-align: left;
}

.connect {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
}

.social-media {
  list-style: none;
  display: flex;
  padding: 0;
  width: 220px;
}

.social-media li {
  flex: 1;
  margin-right: auto;
}

.get-resume {
  width: 166px;
  height: 50px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid #7f8cff;
  border-radius: 10px;
  color: #396df2;
  font-weight: 500;
  background: transparent;
  margin-bottom: 2em;
}

.my-resume {
  list-style: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0.5em;
  padding: 0;
}

.resume-title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.border {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 20px;
}

.my-resume ul {
  list-style: none;
  padding: 10px;
}

.prog-lang {
  display: flex;
  flex-direction: column;
}

.prog-lang li {
  background: #f7f7f9;
  width: 270px;
  height: 50px;
  margin: 3px;
  font-size: 15px;
  font-style: normal;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prog-lang img {
  padding-right: 20px;
}

.contact {
  width: 80%;
  background: #6070ff;
  border-top-left-radius: 80px;
  padding: 3rem 2rem;
  text-align: center;
  background-image: url("../images/background-contact.png");
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 90px;
}

.contact-bg {
  background-repeat: no-repeat;
  background-size: 100%;
}

.title-contact {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.contact-info {
  color: #fff;
  font-size: 19px;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
textarea {
  padding: 0.5em;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 1px solid #cfd8dc;
}

.contact-form input,
button {
  height: 38px;
}

.contact-form input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid aqua;
}

.contact-button {
  width: 150px;
  color: #6070ff;
  border-radius: 8px;
  outline: none;
  border: 0;
}

button:hover {
  border: 1px solid aqua;
}

/* -- Popup Mobile -- */

.popup-overlay {
  position: absolute;
  display: none;
  background: #c1c7d0;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-content {
  position: fixed;
  width: 90%;
  height: auto;
  background: #fff;
  left: 2%;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1em;
}

.title-popup {
  font-size: 25px;
  font-weight: 700;
  width: 85%;
}

.job-desc-popup {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}

.popup-img {
  background: url(../images/snapshot1.png) no-repeat center;
  background-size: contain;
  height: 220px;
  border-radius: 6px;
}

.popup-info {
  font-size: 19px;
  line-height: 26px;
  color: #344563;
}

.popup-languages {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.popup-languages li {
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
}

.line {
  color: grey;
  opacity: 0.5;
  margin-bottom: 10px;
}

.live-source {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.live-source button {
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 10px;
  color: #396df2;
  font-size: 12px;
  width: 50%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  padding-top: 5px;
}

.live-source button:hover {
  color: #fff;
  background-color: #739aff;
  border: 0;
}

.cancel-icon {
  height: 20px;
  cursor: pointer;
  padding-right: 10px;
}

.top-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #172b4d;
}

.live-img,
.github-img {
  margin-top: 5px;
}

.liveImg {
  width: 17px;
}

.sourceImg {
  width: 15px;
}

small {
  color: rgb(255, 0, 0);
  background: #fff;
  line-height: 20px;
  width: 25%;
  padding: 0 1em;
  margin: 0 auto 10px;
  border-radius: 0.5em;
  background-color: #fadddb;
}

input:focus:invalid {
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .home {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    border-bottom-left-radius: 100px;
    margin-bottom: 5em;
  }

  .main {
    padding-left: 4rem;
    padding-top: 100px;
    width: 100%;
    background: url(../images/header_bg.png) no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    padding-left: 4rem;
  }

  .title {
    width: 70%;
    align-items: flex-start;
  }

  .about-me {
    width: 70%;
    margin-bottom: 1em;
    font-size: 20px;
  }

  .menu-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    width: 50%;
    float: right;
    margin-right: 5rem;
  }

  .overlay {
    display: none;
  }

  .nav-links {
    width: 50%;
  }

  .menu-bar a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
  }

  .menu-bar .menu-item {
    display: block;
    transition: all 0.3s;
  }

  .menu-bar .menu-item::after {
    content: " ";
    height: 4px;
    width: 0;
    display: block;
    background-color: #396df2;
    transition: width 0.3s;
  }

  .menu-bar .menu-item:hover::after {
    width: 60px;
  }

  .hamburger-button {
    display: none;
  }

  .works,
  .card {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 5em;
  }

  .works > div {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 15px;
    background: #fff;
    margin: 0 auto;
    width: 80%;
  }

  .card {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }

  .card1,
  .card3 {
    height: 90%;
    flex-basis: 50%;
  }

  .card2,
  .card4 {
    height: 90%;
    flex-basis: 50%;
    order: 1;
  }

  .card .card-projects {
    flex-basis: 50%;
  }

  .card-lang1,
  .card-lang2,
  .card-lang3 {
    transition: all 0.3s;
  }

  .card-lang4 {
    display: block;
    width: 90px;
    text-align: center;
    background: #ebebff;
    font-size: 12px;
    color: #6070ff;
    border-radius: 7px;
    height: 23px;
    font-weight: 400;
    padding-top: 5px;
  }

  .card-lang1:hover,
  .card-lang2:hover,
  .card-lang3:hover,
  .card-lang4:hover {
    background-color: #cfd8dc;
    color: #396df2;
    cursor: pointer;
  }

  .card-submit-button {
    transition: all 0.3s;
  }

  .card-submit-button:hover {
    color: #fff;
    background-color: #739aff;
    border: 0;
  }

  .more-languages {
    width: 270px;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .card1 {
    background: url(../images/card1-desktop-bg.png) no-repeat center center;
    background-size: contain;
    transition: all 0.3s;
  }

  .card2 {
    background: url(../images/card2-desktop-bg.png) no-repeat center center;
    background-size: contain;
    transition: all 0.3s;
  }

  .card3 {
    background: url(../images/card3-desktop-bg.png) no-repeat center center;
    background-size: contain;
    transition: all 0.3s;
  }

  .card4 {
    background: url(../images/card4-desktop-bg.png) no-repeat center center;
    background-size: contain;
    transition: all 0.3s;
  }

  .card1:hover,
  .card2:hover,
  .card3:hover,
  .card4:hover {
    transform: scale(1.1);
  }

  .card-title-2 {
    width: 300px;
  }

  .contact-form,
  .contact-info,
  .title-contact {
    padding: 0;
    margin: 0 auto;
    border-radius: 0;
  }

  .title-contact {
    padding-top: 120px;
  }

  .contact {
    width: 100%;
    background: #6070ff;
    padding: 85px 3rem 3rem;
    text-align: center;
    border-top-left-radius: 80px;
    padding-left: 4rem;
    background-image: url(../images/contact-big.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-y: center;
    background-position-x: 80px;
  }

  .contact-info {
    font-size: 18px;
    font-style: normal;
    font-weight: 400px;
    margin-bottom: 2em;
    width: 35%;
  }

  #name,
  #email,
  #message {
    border-radius: 0;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .contact-button {
    margin: 0 auto;
    border-radius: 5px;
    width: 8em;
    margin-bottom: 8em;
    border-color: #6070ff;
    transition: all 0.3s;
  }

  .contact-button:hover {
    color: #fff;
    background-color: #739aff;
    border: 0;
  }

  .about-myself {
    width: 100%;
    background-color: #fff;
  }

  .about-container {
    display: flex;
    flex-direction: row;
  }

  .one {
    flex-basis: 50%;
    margin-left: 5em;
  }

  .get-resume {
    transition: all 0.3s;
  }

  .get-resume:hover {
    color: #fff;
    background-color: #739aff;
    border: 0;
  }

  .my-resume {
    flex-basis: 50%;
    margin-right: 5em;
  }

  .resume-title {
    margin-top: 2em;
  }

  .about-contact {
    background-color: white;
  }

  .prog-lang {
    display: flex;
    flex-direction: row;
  }

  .prog-lang li {
    background: #f7f7f9;
    width: 100px;
    height: 80px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.2s;
  }

  .prog-lang img {
    margin-bottom: 0.5em;
    transition: all 0.2s;
  }

  .social-icons img {
    transition: all 0.3s;
  }

  .prog-lang img:hover {
    transform: scale(1.2);
  }

  .popup-languages li {
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
  }

  .prog-lang li:hover {
    color: rgb(94, 179, 248);
    background-color: rgb(231, 231, 231);
  }

  .arrow {
    width: 20px;
    height: 20px;
  }

  .social-title {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    width: 70%;
  }

  .social-icons {
    width: 70%;
  }

  .social-icons img:hover {
    transform: scale(1.3);
  }

  /* Popup Desktop */
  .popup-overlay {
    position: fixed;
    display: none;
    background: #c1c7d0;
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .popup-content {
    position: absolute;
    width: 80%;
    height: 100%;
    background: #fff;
    left: 10%;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1em;
  }

  .title-popup {
    font-size: 32px;
    font-weight: 700;
    width: 85%;
  }

  .job-desc-popup {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
    padding: 0;
  }

  .popup-img {
    background: url(../images/desktop-popup.png) no-repeat center;
    background-size: contain;
    height: 50%;
    border-radius: 6px;
  }

  .popup-info {
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    width: 70%;
    float: left;
    padding-right: 1em;
  }

  .popup-languages {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding: 0;
    float: right;
  }

  .line {
    color: grey;
    opacity: 0;
    margin-bottom: 20px;
  }

  .live-source {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .live-source button {
    background: #fff;
    border: 1px solid #396df2;
    border-radius: 10px;
    color: #396df2;
    font-size: 12px;
    width: 50%;
    margin-bottom: 1em;
  }

  .live-source button:hover {
    color: #fff;
    background-color: #739aff;
    border: 0;
  }

  .cancel-icon {
    height: 20px;
    cursor: pointer;
    padding-right: 10px;
  }

  .top-popup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: #172b4d;
  }

  .liveImg {
    width: 18px;
  }

  .sourceImg {
    width: 15px;
  }
}
